fastapi
uvicorn
python-multipart
pydantic
sqlalchemy
python-dotenv

streamlit
requests

pandas
numpy
scikit-learn
joblib

langchain
langchain-community

sentence-transformers
faiss-cpu

mistralai

openai-whisper

fpdf

PyPDF2

passlib[bcrypt]
python-jose

matplotlib
plotly